.d-container{
    display:none;
    
}

.p-container
{
    width: 675px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: 0.5rem;
    background-color: #f8fafc;
}

.p-header
{
    display: flex;
    background-color: peru;
    padding-left: 0.5rem;

}
.content

{ padding-left: 0.5rem;
    overflow-y: scroll;
    height: 225px;
}

.btn1 , .btn
{
    font-size: 1.3rem;
    margin-top: 1.2rem;
    padding-right: 0.5rem;
    cursor: pointer;
}